@charset "utf-8";

* {
		margin:0; 
		padding:0;
		box-sizing:border-box;
}
html ,
body {
		font:12pt  'Nanum Gothic', sans-serif;
		background:#0d0f15;
}
h2 ,
h3 ,
h4 {
		font-family: 'Nanum Myeongjo', serif;
		color:white;
}
img {
			max-width:100%;
			display:block; 
}
a {
		text-decoration:none;
		color:black;
		color:white;
}

/*스크롤바 넓이변경*/
::-webkit-scrollbar {
		width:1px;
}


/*상단*/
header {
			padding-top:30px;
}
header> h1 button {
		display:none;
}
header> h1 a {
		display:block;
		max-width:273px; 
		margin:auto;
}

/*상단 메뉴*/
header> nav	{
		border-top:1px solid #ccc; 
		margin-top:50px; 
}
#white {
		position:absolute;
		width:100%;
		height:220px;
		background:#0d0f15;
		display:none;
}

header  ul	{
		max-width:1000px;
		margin:auto;
		list-style:none; 
		display:flex;
	  justify-content:space-between;
}
header li {
		position:relative;
}

/*주메뉴*/
header li> a {
		padding:15px;
		display:block;
}
header li:hover > a {
		font-weight:700;
}

/*하위메뉴*/
header li nav	{
		position:absolute;  
		background:#0d0f15; 
		width:100%;  
		display:none;
		z-index:1;
}
header li nav a	{
		display:block; 
		padding:20px; 
		font-size:0.8rem;
}
header li nav a:hover {
		background:#dfab7f;
}

/*하위메뉴 넓이 확보*/
header li:nth-child(1) nav	{width:120%;}
header li:nth-child(2) nav	{width:250%;}
header li:nth-child(4) nav	{width:200%;}

/*상단 아래 큰 비주얼 이미지 배너*/
#banner h2	{display:none;}
#banner img	{width:100%;}

/*대표 일품 요리*/
#sec02 	{margin-top:100px;}

/*h2 디자인 통합관리*/
.h2 	{
		text-align:center;  
		font-size:27pt; 
		font-weight:400;
}
.h2  rt {
		text-align:center;  
		color:#cfa972;  
		font-size:1rem; font-weight:700;
		transform:translateY(-15px);
}
/*h2 아래부분 세로선 디자인 통합관리*/
.line 	{
		width:1px;  
		height:100px;
		margin:auto;  
		margin-top:30px;
		background: #ccc; 
		border:none;
}

/*대표 일품 요리: 썸네일 이미지형 목록*/
#sec02_list {
		max-width:1250px;
		margin:auto;  
		display:flex;   
		flex-wrap:wrap;
		justify-content:space-between;
}
#sec02_list section {
			margin-bottom:10px;
			position:relative; 
			width:304px; 
			height:304px;
			overflow:hidden;
			cursor:pointer;
}
/*마우스 오버하면 보이는 글자들(호버하기 전)*/
#sec02_list section div{
		position:absolute;
		width:100%; top:33%;
		text-align:center;
		opacity:0;
		transition:0.5s;
		transform:scale(0.2);
}
#sec02_list h3{
		color:white;
		font-size:1.5rem;
}
#sec02_list rt {
			transform:translateY(50px);
}
#sec02_list p {
		margin-top:40px;
		color:#e0e0e0;
}


/*마우스 오버하면 보이는 글자들(호버하면 클래스 추가됨)*/
#sec02_list section:hover div {
		opacity:1;
		transform:scale(1);
}
#sec02_list section  img { transition:0.5s;}
#sec02_list section:hover img {
			filter:brightness(50%); 
			transform:scale(1.3);
}


/*a링크 버튼 디자인 통합관리*/
.linkBtn 	{
		display:block; 
		width:170px; 
		padding:15px 0;
		text-align:center; 
		border:1px solid #aaa;
		margin:auto; 
		margin-top:50px;  
		transition:0.5s; 
}
.linkBtn:hover {
		background:black; 
		color:white;
}

/*런치+디너+연회*/
#sec03 	{
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		margin:100px 0;
}
#sec03 section {
		width:33%; 
		text-align:center; 
		margin-bottom:50px;
}
#sec03 img {width:100%;}

/*런치+디너+연회: 호버했을때 이미지밝기 변화*/
#sec03 a {
		display:block; 
		overflow:hidden;
}
#sec03 a img 		{transition:0.5s; }
#sec03 a:hover img	{
		filter: brightness(50%); 
		transform: scale(1.3); 
}
/*런치+디너+연회: 이미지아래 글자*/
#sec03 h2 {
		font-size:2.2rem;  
		font-weight:400; 
		padding:70px 0 20px 0; 
}
#sec03 rt {
		color:#cfa972; 
		font-size:1rem; 
		font-weight:800; 
		letter-spacing:0.2pt; 
		transform:translateY(-15px); 
}
#sec03 p {
		color:white;
	
}

/*유튜브동영상 아이프레임*/
#mp4 {
		width:100%; 
		max-width:1200px; 
		height:700px; 
		margin:auto; 
		display:block;
}

/* 한정식 한우리는~ 부분*/
#sec04 {
		padding-top:50px;
}
#sec04 p {
		padding-top:20px;
		max-width:900px; 
		margin:auto; 
		text-align:center;
		line-height:180%;
		color:white;
}

/*오시는 길*/
#location { padding-top:100px;  }
#location h2 { padding-top:60px;}
#location h3 {
		color:#cfa972; 
		font-size:1.3rem;
		text-align:center; 
		padding:30px 0 20px 0; 
}
#location p {
		max-width:800px;  
		margin:auto;
		text-align:center;
		line-height:180%;
		padding-bottom:30px;
		color:white;
}
#location p span {
		display:inline-block;
		background:#cfa972;
		color:white; 
		font-weight:800;
		padding:3px 10px 1px 10px;
	
}

/*구글지도 + 약도이미지*/
#map {
	display:flex;
	max-width:1200px;
	margin:auto;
	background:white;
}
#map img {padding-top:27px;}
#map > * {flex:1;}
#map + p {padding-top:20px;}

/*하단*/
footer {
		background:#111;
		color:#0d0f15;
		padding:60px 0;
		text-align:center;
		font-size:0.9rem;
		position:relative;
		background:#cfa972;
}
#partner {
		display:block;
		width:100px;
		margin:auto;
		margin-bottom:50px;
		border-bottom:1px solid #0d0f15;
		padding:0 5px 7px 5px;
		cursor:pointer;
} 
#partner + nav {
		position:absolute;
		background:#0d0f15;
		display:block;
		width:200px; top:91px;
		left:calc( (100% - 200px) / 2);
		display:none;
}
#partner + nav a {
		display:block;
		color:#333;
		line-height:250%;
}
#partner + nav a:hover {
		background:#555;
		color:white;
}

/*하단로고*/
footer> a {
		display:inline-block;
		margin:auto; 
		margin-top:50px;
}
footer> a:last-child {margin-left:20px;}

/*******************/
/*모바일 넓이(0~500픽셀)*/
@media(max-width:500px){
			header>* {overflow:hidden; }
			header {padding:20px 10px;}
			header h1 {
					display:flex;
					align-items:center;
			}
			header h1 button.open {
					display:block;
					position:relative;
					z-index:2;
					cursor:pointer;
					color:#cfa972;
			}
			header h1 button.close { display:none; }
			header h1 button {
					padding:5px;
			  	font-weight:bold;
					font-size:1.3rem; 
					border:none; 
					background:transparent;
					color:#cfa972;
			}
			header>nav {
				margin-top:20px; 
				position:absolute; 
				width:100%; 
				background:#0d0f15;
				padding:10px; 
				height:90vh; 
				z-index:1;
				left:-100vw; 
				overflow:hidden;
			}
			header>nav li>a.arr::after {
						content:"▼"; 
						float:right; 
						color:gray;
			}
			header>nav li:hover>a.arr::after{
						content:"▲"; 
						color:#ddd;
			}
			header ul { flex-direction:column; }
			header>nav nav { position:relative; }
			
			
			/*대표일품요리*/
			#sec02_list section {
						margin:0  auto 10px auto;
			}
			
			/*런치+디너+연회*/
			#sec03 {
					 flex-direction:column; 
					 margin-bottom:50px; 
			}
			#sec03 section {
						width:95%; 
						margin:auto;
			}
			#sec03 h2 {padding-top:50px;}
			#sec03 p {
					width:90%; 
					margin:auto;
					text-align:center; 
					margin-bottom:80px; 
					line-height:160%; 
			}
			
			/*유튜브동영상 아이프레임*/
			#mp4 { height:300px;  }	
			#sec04 p { width:90%;}
			
			/*구글지도+약도*/
			#map {  flex-direction:column;}
			#map p { padding-top:50px;}
			#map+p {
					width:85%; 
					margin:auto; 
					padding-top:0;
				}
}
/*******  모바일. 끝  ******/






